:root {
  --font: cursive;
  --primary: red;
  --secondary: pink;
  --background: yellow;
}

.big-bud-select label {
    color: var(--primary);
    font-family: var(--font);
}

.big-bud-select div .selectize-input {
    border: 1px solid var(--primary);
    color: var(--primary);
    font-family: var(--font);
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.big-bud-select .selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: var(--primary) transparent transparent transparent;
}

.big-bud-select .option.active {
  background-color: var(--secondary);
}

.big-bud-select .option {
  color: var(--primary);
  font: var(--font);
}

.big-bud-select .selectize-input.full {
    background-color: var(--background);
}

/* TODO when you select the dropdown the top should stay yellow */
.big-bud-select.selectize-input,
.big-bud-select.selectize-control.single.selectize-input.input-active {
  color: var(--primary);
  font: var(--font);
  background-color: var(--background);
}

/* TODO background color of the dropdown */
/* TODO border and dropshadow of the input options */

.big-bud-select .selectize-dropdown, .selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 2px 0 0 0;
    z-index: 1000;
    background: var(--background);
    border: 1px solid var(--primary);
    border: 1px solid var(--primary);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
